body {
  width: 90%;
  box-shadow: 0 2px 3px 0 rgba(120,118,120,1);
  margin:0 auto;
}

body {
  margin-top: 50px;
  background-color: #A9A9A9;
}

.custom-nav {
  width: 90%;
  box-shadow: 0 3px 3px 0 rgba(120,118,120,1);
  margin:0 auto;
  background-color: #006666;
  font-family: 'Viga', sans-serif;
  border-radius: 0;
  float: right;
}

.about-photo {
  max-height: 350px;
  position: relative;
  font-family: 'raleway', sans-serif;
}
.about-row {
  box-shadow: 0 2px 4px 0 rgba(120,118,120,1);
  background-color: #D0D0D0;
}


.about-text {
  padding: 90px 50px
}

.emily-photo {
  max-height: 300px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
}

.portfolio {
  background-color: white;
  padding: 3%;
}

.screenshot {
  max-height: 200px;
  margin: 5%;
}

.contact {
  background-color: white;
  padding: 3%;
  height: 1000px; /*Temp height to test navbar functionality*/
}
